<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <form (ngSubmit)="onSubmit(f)">
    <input name="first" ngModel required>
    <input name="last" ngModel>
    <button type="submit">Submit</button>
  </form>
</div> -->
<div class="container">
  <h2>Select Input File</h2>
  <form [formGroup]="excelFileGroup" (ngSubmit)="onSubmit(excelFileGroup)">
    <div class="radio-family">
      <mat-radio-group class="radio-group" formControlName="excelRenderMode" (change)="focusRenderMode($event)">
        <mat-radio-button class="radio-btn" value="program">
          Program Validation
        </mat-radio-button><br>
        <mat-radio-button class="radio-btn" value="resource">
          Resource Validation
        </mat-radio-button><br>
      </mat-radio-group><br>
      <hr class="horiz-line">
      <mat-radio-group class="radio-group" formControlName="excelCalendarInterval">
        <mat-radio-button class="radio-btn" value="monthly">
          Monthly
        </mat-radio-button><br>
        <mat-radio-button class="radio-btn" value="quarterly">
          Quarterly
        </mat-radio-button><br>
      </mat-radio-group><br>
    </div><br>
    <!-- ------------------- -->
    <mat-form-field class="datepicker">
      <input matInput [matDatepicker]="minPicker" formControlName="minDate" placeholder="Choose a start date">
      <mat-datepicker-toggle matSuffix [for]="minPicker"></mat-datepicker-toggle>
      <mat-datepicker #minPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="datepicker">
      <input matInput [matDatepicker]="maxPicker" formControlName="maxDate" placeholder="Choose an end date">
      <mat-datepicker-toggle matSuffix [for]="maxPicker"></mat-datepicker-toggle>
      <mat-datepicker #maxPicker></mat-datepicker>
    </mat-form-field><br>
    <span class="error-message" *ngIf="excelFileGroup.errors">Please select a valid date range</span><br><br>
    <!-- ------------------- -->
    <div class="input-div">
      <input #input class="select-file btn" (change)="processFile($event.target.files)"
      id="input-file-id" type="file" name="excel-file" accept=".xlsx" formControlName="excelFilePath"  />
    </div>
    <br><br>
    <button mat-raised-button type="submit" [disabled]="!excelFileGroup.valid">Upload</button>
  </form>
  <h2>{{ excelFileGroup.controls["excelRenderMode"].value || "default" }} color palette</h2>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <div class="palette-btn-bar">
    <button mat-raised-button (click)="addColorDialog()">
      Add color
    </button><br><br>

    <!-- Dialog Palette Select -->
    <div class="add-color-dialog "*ngIf="addNewColor">
      <div mat-dialog-content>
        <p>Enter a whole number between 0-255 for each RGB Value</p>
        <mat-form-field>
          <input matInput placeholder="Red" [formControl]="validColorRed">
        </mat-form-field>&nbsp;
        <mat-form-field>
          <input matInput placeholder="Green" [formControl]="validColorGreen">
        </mat-form-field>&nbsp;
        <mat-form-field>
          <input matInput placeholder="Blue" [formControl]="validColorBlue">
        </mat-form-field>
        <mat-error *ngIf="clickedAddColor && (
                        (validColorRed.invalid || validColorGreen.invalid || validColorBlue.invalid) ||
                        (validColorRed.valid && validColorGreen.valid && validColorBlue.valid && colorExists)
                        )">{{colorError}}</mat-error>
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="addColor()" cdkFocusInitial>OK</button>
      </div><br>
    </div>
    <!-- Dialog Palette Select -->

    <button mat-raised-button (click)="resetDefault()">
      Reset to Default
    </button>
  </div>
</div>
