h1 {
    text-align: center;
}

.radio-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.palette-btn-bar {
    text-align: center;
}

.add-color-dialog {
    text-align: center;
}

form {
    text-align: center;
}

.input-div {
    display: inline-block;
    max-width: 200px;
}

input {
    margin-left: 2vw;
}

.select-file {
    overflow: hidden;
    margin-top: 0.5%;
}

.container {
    text-align: center;
    margin: auto;
}